# Core functionality - changes here should be rare!
/src/app.py                   @davhsi
/src/backend/database.py      @davhsi
/src/backend/routers/auth.py  @davhsi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @davhsi
